* {
    background-color: indigo;
    color: orangered;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
 }


 
 .activity {
     font-family: Arial, Helvetica, sans-serif;
     font-size: larger;
     border: 2px solid;
     padding: 10px;
     background-color: firebrick;
     color: whitesmoke;
     margin: 25px;
 }
 
 button {
     background-color: plum;
     font-weight: bold;
     font-size: 16px;
     font-style: italic;
     color: maroon;
     padding: 10px 20px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
 }
 
 button:hover {
     background-color: black;
 }
 
 button:active {
     background-color: red;
     color: lime;
 }